
<app-jumbotron [Titolo]="'Ricerca Articoli'" [SottoTitolo]="'Ricerca gli articoli per descrizione o codice'" [Show]="false"></app-jumbotron>

<section class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h3 class="page-title">Risultati Ricerca: <small>Trovati {{NumArt}} Articoli</small></h3>
    </div>
    <div class="col-md-6 col-sm-6">
      <a href="" style="margin-left: 20px;" class="btn btn-success float-right">Nuovo Articolo</a>
    </div>
    <table id="articoli" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>CodArt</th>
          <th>Descrizione</th>
          <th>Um</th>
          <th>Pezzi</th>
          <th>Peso(KG/LT)</th>
          <th>Prezzo</th>
          <th>Attivo</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let articolo of articoli">
            <td>{{articolo.codart}}</td>
            <td class="text-left">{{articolo.descrizione}}</td>
            <td>{{articolo.um}}</td>
            <td>{{articolo.pzcart}}</td>
            <td>{{articolo.peso}}</td>
            <td class="text-right">{{articolo.prezzo | currency:'EUR'}}</td>
            <td>{{articolo.isactive}}</td>
            <td>{{articolo.data}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
